* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 100vw;

}
.container_start {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh + calc(100vw / 10)) ;
	width: 100%;
}

.container {
	background-color: #212931;
	background-image: url("./images/overlay.png"), 
		linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url("./images/bg-img.jpg");
	background-size: auto, auto, auto cover;
	background-position: 60% center;
	background-attachment: fixed;
	background-repeat: repeat, no-repeat, no-repeat;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 2.5rem;
	color: #FFFC;
	font-family: 'Merienda', cursive;
}

.btn-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.start-btn {
	font-size: 1rem;
	font-weight: 600;
	color: #000C;
	background: #fff8;
	border-radius: .5rem;
	border: none;
	padding: 1rem;
}

a {
	text-decoration: none;
	color: black;
	margin: 1rem;
}

h1 {
	font-size: 2rem;
	color: #FFFC;
}

.btn_see-more span {
	font-size: 4rem;
	color: #FFFC;
	height: 4rem;
}

.btn_see-more {
	animation: bouncing 1s infinite;
}

@keyframes bouncing {
	0%{
		transform: translateY(3px);
	}
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(3px);
	}
}






.main {
	color: #DDD;
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-bottom: 25rem;
	
}
#about {
	
	background:  #212931;
}
#proyects {
	background: #445F5A;
}
#contact {
	background: #2D3937;
}


.shape {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);	
}

.shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: calc(100vw / 10);
}

.shape1 {
    position: absolute;
    top: calc((100vw / -10) + 1px);
}

.shape1 svg {
    transform: rotateY(180deg);
}

.shape1 .shape-fill {
    fill:  #212931;
}

.shape2, .shape3{
    position: relative;
    bottom: -1px;
}

.shape2 .shape-fill {
    fill: #445F5A;
}

.shape3 svg {
    transform: rotateY(180deg);
}

.shape3 .shape-fill {
    fill: #2D3937 ;
}


.shape4 {
    position: relative;
    bottom: calc(100vw / -10);
    transform: rotate(0);
}

.shape4 .shape-fill {
    fill:  #2D3937;
}

.cont_proyect-img {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

p {
	color: #DDD;
	text-align: justify;
	padding: 1.5rem;
}

.flex-item {
	margin: 2em;
}
.images {
	width: clamp(150px, 60vw, 600px);
	height: clamp(75px, 30vw, 300px);
	object-fit: cover;
	border-radius: 1rem;
}

h2 {
	font-family: 'Tiro Gurmukhi', sans-serif;
	font-size: 40px;
	color: #FFF;
	background: inherit;
	padding: .5rem 0 0 1rem;
}

#about h2 {
	position: relative;
	text-align: right;
	padding: 0 2rem;
}

#proyects h2 {
	position: relative;
	text-align: left;
	padding: 0 2rem;
}

#contact h2 {
	position: relative;
	text-align: right;
	padding: 0 2rem;
}


@media screen and (max-width: 1000px){
	.container_start {
		background-color: #212931;
		background-image: url("./images/overlay.png"), 
			linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("./images/bg-img.jpg");
		background-size: auto, auto, auto cover;
		background-position: 60% center;
		background-attachment: scroll;
		background-repeat: repeat, no-repeat, no-repeat;
	}

	.container {
		background: none;
	}

	.main {
		padding-bottom: 25rem;
		background-color: #212931;
		background-image: url("./images/overlay.png"), 
			linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("./images/bg-img.jpg");
		background-size:cover 100vh;
		background-position: 60% bottom;
		background-repeat: no-repeat;
	}
}