* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 100vw;
}

.container {
	background: #A67;
	background-image: url("./bg-img.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	color: #FFFC;

}

ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

li {
	background: #fff8;
	list-style: none;
	border-radius: .5rem;
	padding: 1rem;
}

a {
	text-decoration: none;
	color: black;
	margin: 1rem;
}

h3 {
	font-size: 2rem;
	color: #FFFC;
}
span {
	font-size: 4rem;
	color: #FFFC;
	height: 4rem;
	animation: bouncing 1s infinite;
}

@keyframes bouncing {
	0%{
		transform: translateY(3px);
	}
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(3px);
	}
}

.pepe {
	background: #fff;
	min-height: 100vh;
	width: 90vw;
	position: relative;
	top: -4rem;
	box-shadow: 0 5px 10px #333;
}

.gato {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

p {
	text-align: justify;
	margin: .7rem;
}

.flex-item {
	margin: 2em;
}
.images {
	width: clamp(150px, 60vw, 600px);
	height: clamp(75px, 30vw, 300px);
	object-fit: cover;
	border-radius: 1rem;
}

h2 {
	background: #FFF;
	top: 0;
	position: sticky;
	padding: .5rem 0 0 1rem;
}


@media screen and (max-width: 800px){
	.pepe {
		width: 100vw;
		box-shadow: none;
		top: 0;
	}
}