*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(90deg, #e2c35d, #d88771);
	background-size: cover;
	background-repeat: round;
	color: white;
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header{
	font-size: 1.5rem;
	position: absolute;
	top: 0;
}

form {
	position: absolute;
	top: 20vh;
}



header, form{
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cont-input {
	display: flex;
}

form input, form button{
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: white;

}

form button{
	color: #d88771;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover{
	background: #d88771;
	color: white;
}

.todo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;	
	top: 40vh;
}

.todo-list{
	
	/*min-width: 30%;*/
	list-style: none;
}

.todo{
	width: clamp(100px, 80vw, 700px);
	margin: 0.5rem;
	background: white;
	color: black;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.todo li{
	flex: 1;
}

.trash-btn, .completed-btn{
	background: #ff6f47;
	color: white;
	border: none;
	padding: 1rem;
	cursor: pointer;
}

.completed-btn{
	background: rgb(73, 204, 73);
}

.todo-item{
	padding: 0rem 0.5rem;
	max-width: calc(100% - 88px);
	word-wrap: break-word;
}

.todo-text {
	display: block;
	
}

.fa-trash, .fa-check{
	pointer-events: none;
}

.completed{
	text-decoration: line-through;
	opacity: 0.5;
}

.fall{
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: none;
}

.select{
	margin: 1rem;
	position: relative;
	overflow: hidden;
}

select{
	color: #ff6f47;
	width: 10rem;
	cursor: pointer;
	padding: 1rem;
}

.select::after{
	content: "\25BC";
	position: absolute;
	background: #ff6f47;
	top: 0;
	right: 0;
	padding: 1rem;
	pointer-events: none;
	transition: all 0.3s ease;
}

.select:hover::after{
	background: white;
	color: #ff6f47;

}


@media screen and (max-width: 800px) {
	form {
		flex-direction: column;
		align-self: center;
		max-width: 80vw;
	}

	/*.cont-input {
		max-width: 100%;
	}
*/
	/*input {
		max-width: ;
	}*/
	.todo-input {
		max-width: calc(100% - 44px);
	}

	.todo-container {
		max-width: 80%;
	}

	.todo-item {
		max-width: calc(100% - 88px);
	}
 
	.select {
		align-self: flex-start;
		margin: 1rem 0;
	}
}