* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;/*
	background: #FF8E4A;*/
}
 
body {
	height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.header {
	border: 1px solid red;
	background: #FF8E4A;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	height: 3em;
}

.container_data {
	height: 100%;

}

#weather {
	text-transform: capitalize;
	padding-bottom: .2em;
}
.container_current-data {
	border: 1px solid red;
	background: #FF8E4A;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.container_next-days{
	height: 30%;

}

.container_next-days ul{
	border: 1px solid red;
	background: #ffb16c;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.container_next-days li {
	list-style: none;
	padding: .2em;
}